* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Rucksack, sans-serif;
  font-size: 12px;
}

body {
  background-image: url("./img/layout.png");
  background-size: 80rem;
  background-repeat: repeat-y;
  background-position: center top;
}